/*
    Content
*/

article,
section {
	display: block;
}

.section-sm {
	padding: 30px 0;
}

.bg-default {
	background-color: #ffffff;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

* + .row-sm {
	margin-top: 30px;
}

.row-40 {
	margin-bottom: -40px;
}

.row-40:empty {
	margin-bottom: 0;
}

.row-40 > * {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.row-md-50 {
		margin-bottom: -50px;
	}
	.row-md-50:empty {
		margin-bottom: 0;
	}
	.row-md-50 > * {
		margin-bottom: 50px;
	}
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-sm-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-md-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.unit {
	display: flex;
	flex: 0 1 100%;
	margin-bottom: -30px;
	margin-left: -20px;
}

.unit > * {
	margin-bottom: 30px;
	margin-left: 20px;
}

.unit:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.unit-body {
	flex: 0 1 auto;
}

.unit-left,
.unit-right {
	flex: 0 0 auto;
	max-width: 100%;
}

.flex-column {
	flex-direction: column !important;
}

@media (min-width: 768px) {
	.flex-md-row {
		flex-direction: row !important;
	}
	.flex-md-column {
		flex-direction: column !important;
	}
	.flex-md-row-reverse {
		flex-direction: row-reverse !important;
	}
	.flex-md-column-reverse {
		flex-direction: column-reverse !important;
	}
	.flex-md-wrap {
		flex-wrap: wrap !important;
	}
	.flex-md-nowrap {
		flex-wrap: nowrap !important;
	}
	.flex-md-wrap-reverse {
		flex-wrap: wrap-reverse !important;
	}
	.flex-md-fill {
		flex: 1 1 auto !important;
	}
	.flex-md-grow-0 {
		flex-grow: 0 !important;
	}
	.flex-md-grow-1 {
		flex-grow: 1 !important;
	}
	.flex-md-shrink-0 {
		flex-shrink: 0 !important;
	}
	.flex-md-shrink-1 {
		flex-shrink: 1 !important;
	}
	.justify-content-md-start {
		justify-content: flex-start !important;
	}
	.justify-content-md-end {
		justify-content: flex-end !important;
	}
	.justify-content-md-center {
		justify-content: center !important;
	}
	.justify-content-md-between {
		justify-content: space-between !important;
	}
	.justify-content-md-around {
		justify-content: space-around !important;
	}
	.align-items-md-start {
		align-items: flex-start !important;
	}
	.align-items-md-end {
		align-items: flex-end !important;
	}
	.align-items-md-center {
		align-items: center !important;
	}
	.align-items-md-baseline {
		align-items: baseline !important;
	}
	.align-items-md-stretch {
		align-items: stretch !important;
	}
	.align-content-md-start {
		align-content: flex-start !important;
	}
	.align-content-md-end {
		align-content: flex-end !important;
	}
	.align-content-md-center {
		align-content: center !important;
	}
	.align-content-md-between {
		align-content: space-between !important;
	}
	.align-content-md-around {
		align-content: space-around !important;
	}
	.align-content-md-stretch {
		align-content: stretch !important;
	}
	.align-self-md-auto {
		align-self: auto !important;
	}
	.align-self-md-start {
		align-self: flex-start !important;
	}
	.align-self-md-end {
		align-self: flex-end !important;
	}
	.align-self-md-center {
		align-self: center !important;
	}
	.align-self-md-baseline {
		align-self: baseline !important;
	}
	.align-self-md-stretch {
		align-self: stretch !important;
	}
}

button {
	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

.product-big {
	position: relative;
	text-align: left;
}

.product-big .unit {
	margin-bottom: -30px;
	margin-left: 0;
}

.product-big .unit > * {
	margin-bottom: 30px;
	margin-left: 0;
}

.product-big .unit-body {
	display: flex;
	align-items: center;
}

.product-big * + .group-sm {
	margin-top: 12px;
}

.product-big * + .button {
	margin-top: 25px;
	min-width: 170px;
	padding: 17px 28px 15px;
}

.product-big-figure {
	position: relative;
	overflow: hidden;
	display: block;
}

.product-big-title {
	font-weight: 500;
	letter-spacing: normal;
	font-size: 21px;
}

.product-big-rating .icon {
	font-size: 19px;
	letter-spacing: 0;
	line-height: 24px;
	color: #ffcc00;
}

.product-big-rating .icon + .icon {
	margin-left: 0;
}

.product-big-reviews {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
}

.product-big-reviews,
.product-big-reviews:focus,
.product-big-reviews:active {
	color: #9b9b9b;
}

.product-big-reviews:hover {
	color: #50ba87;
}

.product-big-text {
	letter-spacing: 0.025em;
	color: #9b9b9b;
}

.product-big-price-wrap {
	position: absolute;
	overflow: hidden;
	text-align: center;
	padding: 8px 10px 6px;
	top: 0;
	right: 0;
	font-size: 18px;
	line-height: 0;
	font-weight: 500;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	color: rgba(255, 255, 255, 0.4);
	background: transparent;
	z-index: 1;
}

.product-big-price-wrap > * {
	display: block;
}

.product-big-price-wrap::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 14px;
	width: 400%;
	height: 100%;
	background: #01b3a7;
	transform: skew(45deg);
	transform-origin: 50% 100%;
	will-change: transform;
	pointer-events: none;
	z-index: -1;
}

.product-big-price {
	font-size: 21px;
	letter-spacing: 0.025em;
	color: #ffffff;
}

* + .product-big-text {
	margin-top: 6px;
}

@media (min-width: 768px) {
	.product-big {
		border: 1px solid #e1e1e1;
	}
	.product-big .unit {
		min-height: 366px;
	}
	.product-big .unit-left {
		flex-basis: 45%;
	}
	.product-big-body {
		padding: 30px 70px 30px 10%;
	}
	.product-big-figure {
		min-height: 100%;
	}
	.product-big-figure img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		max-width: none;
	}
	@supports (object-fit: cover) {
		.product-big-figure img {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transform: none;
			object-fit: cover;
			object-position: center center;
		}
	}
	.product-big-price-wrap {
		top: -1px;
		right: -1px;
		padding: 20px 10px 16px;
		font-size: 20px;
	}
	.product-big-price-wrap::before {
		left: 24px;
	}
}

@media (min-width: 992px) {
	.product-big .unit-left {
		flex-basis: 50%;
	}
	.product-big-body {
		padding-left: 12%;
		padding-right: 85px;
	}
	.product-big-price-wrap {
		font-size: 24px;
		padding: 30px 17px 26px;
	}
	.desktop .product-big-figure img {
		transform: translate(-50%, -50%) scale(1.2);
		transition: all 0.3s ease;
	}
	@supports (object-fit: cover) {
		.desktop .product-big-figure img {
			transform: scale(1.1);
		}
	}
	.desktop .product-big:hover .product-big-figure img {
		transform: translate(-50%, -50%) scale(1);
	}
	@supports (object-fit: cover) {
		.desktop .product-big:hover .product-big-figure img {
			transform: none;
		}
	}
}

.ie-edge .product-big .unit,
.ie-10 .product-big .unit,
.ie-11 .product-big .unit {
	height: 366px;
}