header {
  margin: 0;
  border-bottom: 2px solid black;
}

header h1 {
  margin: 0;
  padding: 0.5em 0;
  color: darkblue;
}

.navbar {
  overflow: hidden;
  background-color: #0e11b9;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar .search-container {
  float: right;
}

.navbar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a,
  .navbar input[type="text"],
  .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type="text"] {
    border: 1px solid #ccc;
  }
}

body {
  background-color: white;
}

.container {
  /* margin-top: 0; */
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 0.5em 2em;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 0.5em 0 0.25em;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: 0.25em 0 0.5em;
}

h1,
h2 {
  color: #333;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
  margin: 0.5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input[text] {
  width: 15em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*
    Forms
*/
.contact1 {
  width: 100%;
  min-height: 90%;
  padding: 0px;
  margin: auto;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background: linear-gradient(left, #ffffff, #ffffff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}

textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 80px 30px;
            box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 80px 30px;
            box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }
  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }
  .contact1-pic {
    width: 35%;
  }
  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }
  .contact1-pic {
    display: none;
  }
  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*
    Content
*/
article,
section {
  display: block;
}

.section-sm {
  padding: 30px 0;
}

.bg-default {
  background-color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

* + .row-sm {
  margin-top: 30px;
}

.row-40 {
  margin-bottom: -40px;
}

.row-40:empty {
  margin-bottom: 0;
}

.row-40 > * {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .row-md-50 {
    margin-bottom: -50px;
  }
  .row-md-50:empty {
    margin-bottom: 0;
  }
  .row-md-50 > * {
    margin-bottom: 50px;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-md-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: -30px;
  margin-left: -20px;
}

.unit > * {
  margin-bottom: 30px;
  margin-left: 20px;
}

.unit:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.unit-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.unit-left,
.unit-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

@media (min-width: 768px) {
  .flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .flex-md-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -webkit-box-flex: 1 !important;
        -ms-flex-positive: 1 !important;
            flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .justify-content-md-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .align-items-md-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .align-items-md-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  .align-items-md-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .align-items-md-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important;
  }
  .align-items-md-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
        -ms-grid-row-align: auto !important;
        align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
        -ms-grid-row-align: stretch !important;
        align-self: stretch !important;
  }
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

.product-big {
  position: relative;
  text-align: left;
}

.product-big .unit {
  margin-bottom: -30px;
  margin-left: 0;
}

.product-big .unit > * {
  margin-bottom: 30px;
  margin-left: 0;
}

.product-big .unit-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-big * + .group-sm {
  margin-top: 12px;
}

.product-big * + .button {
  margin-top: 25px;
  min-width: 170px;
  padding: 17px 28px 15px;
}

.product-big-figure {
  position: relative;
  overflow: hidden;
  display: block;
}

.product-big-title {
  font-weight: 500;
  letter-spacing: normal;
  font-size: 21px;
}

.product-big-rating .icon {
  font-size: 19px;
  letter-spacing: 0;
  line-height: 24px;
  color: #ffcc00;
}

.product-big-rating .icon + .icon {
  margin-left: 0;
}

.product-big-reviews {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
}

.product-big-reviews,
.product-big-reviews:focus,
.product-big-reviews:active {
  color: #9b9b9b;
}

.product-big-reviews:hover {
  color: #50ba87;
}

.product-big-text {
  letter-spacing: 0.025em;
  color: #9b9b9b;
}

.product-big-price-wrap {
  position: absolute;
  overflow: hidden;
  text-align: center;
  padding: 8px 10px 6px;
  top: 0;
  right: 0;
  font-size: 18px;
  line-height: 0;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.4);
  background: transparent;
  z-index: 1;
}

.product-big-price-wrap > * {
  display: block;
}

.product-big-price-wrap::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 14px;
  width: 400%;
  height: 100%;
  background: #01b3a7;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  will-change: transform;
  pointer-events: none;
  z-index: -1;
}

.product-big-price {
  font-size: 21px;
  letter-spacing: 0.025em;
  color: #ffffff;
}

* + .product-big-text {
  margin-top: 6px;
}

@media (min-width: 768px) {
  .product-big {
    border: 1px solid #e1e1e1;
  }
  .product-big .unit {
    min-height: 366px;
  }
  .product-big .unit-left {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .product-big-body {
    padding: 30px 70px 30px 10%;
  }
  .product-big-figure {
    min-height: 100%;
  }
  .product-big-figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    max-width: none;
  }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .product-big-figure img {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: none;
              transform: none;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center center;
         object-position: center center;
    }
  }
  .product-big-price-wrap {
    top: -1px;
    right: -1px;
    padding: 20px 10px 16px;
    font-size: 20px;
  }
  .product-big-price-wrap::before {
    left: 24px;
  }
}

@media (min-width: 992px) {
  .product-big .unit-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .product-big-body {
    padding-left: 12%;
    padding-right: 85px;
  }
  .product-big-price-wrap {
    font-size: 24px;
    padding: 30px 17px 26px;
  }
  .desktop .product-big-figure img {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .desktop .product-big-figure img {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  .desktop .product-big:hover .product-big-figure img {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .desktop .product-big:hover .product-big-figure img {
      -webkit-transform: none;
              transform: none;
    }
  }
}

.ie-edge .product-big .unit,
.ie-10 .product-big .unit,
.ie-11 .product-big .unit {
  height: 366px;
}

footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
/*# sourceMappingURL=main.css.map */